@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Nunito', sans-serif; */

@layer base {
    @font-face {
        font-family: 'Nunito-bold';
        src: url('./assets/font/Nunito-Bold.ttf') format('truetype');
    }
    
    @font-face {
        font-family: 'Nunito-light';
        src: url('./assets/font/Nunito-ExtraLight.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Nunito-regular';
        src: url('./assets/font/Nunito-Regular.ttf') format('truetype');
    }

    html {
        background-color: #e5e7eb;
        font-family: 'Nunito-regular', sans-serif;
    }

    .nunito-bold {
        font-family: 'Nunito-bold', sans-serif;
    }

    .nunito-light {
        font-family: 'Nunito-light', sans-serif;
    }

    .nunito-regular {
        font-family: 'Nunito-regular', sans-serif;
    }

    /* --------------- STYLES CLASSES --------------- */

    /* ------- buttons components ------- */

    .f-button-green-client {
        @apply bg-green-500 w-[10rem] py-4 text-3xl nunito-bold text-white rounded-3xl focus:scale-95;
    }

    .f-button-red-client {
        @apply bg-red-500 w-[10rem] py-4 text-3xl nunito-bold text-white rounded-3xl focus:scale-95;
    }

    .f-button-green {
        @apply flex flex-row bg-green-600 nunito-bold text-white hover:bg-green-700 py-2 px-4 rounded-xl w-fit drop-shadow;
    }

    .f-button-red {
        @apply flex flex-row bg-red-600 nunito-bold text-white hover:bg-red-700 py-2 px-4 rounded-xl w-fit drop-shadow;
    }

    .f-button-white-red {
        @apply flex flex-row bg-white nunito-bold text-red-500 hover:bg-gray-200 py-2 px-4 rounded-xl w-fit drop-shadow;
    }

    .f-button-white-green {
        @apply flex flex-row bg-white nunito-bold text-green-500 hover:bg-gray-200 py-2 px-4 rounded-xl w-fit drop-shadow;
    }

    .f-button-orange {
        @apply flex flex-row ml-4 p-3 rounded-2xl bg-white text-lg text-orange-500 hover:text-orange-600 hover:bg-gray-100 drop-shadow;
    }

    .f-button-white-orange {
        @apply flex flex-row bg-white border border-orange-500 nunito-bold text-orange-500 hover:bg-gray-100 py-2 px-4 drop-shadow rounded-xl w-fit mt-8 mx-auto;
    }

    /* ------- text components ------- */

    .f-client-subtitle {
        @apply nunito-bold mb-8 text-2xl text-center;
    }

    .f-main-title {
        @apply text-transparent bg-clip-text bg-gradient-to-r from-orange-500 to-red-500 nunito-bold text-3xl;
    }

    .f-under-title {
        @apply nunito-bold text-xl mb-8;
    }

    .f-acronyme {
        @apply w-14 h-8 rounded-xl pt-1 text-center text-white nunito-bold
    }

    .f-format-menu {
        @apply flex flex-row items-center pb-6 hover:underline decoration-2 cursor-pointer;
    }

    .f-dashboard-titles {
        @apply ml-10 mt-4 text-2xl;
    }

    .f-button-text-white {
        @apply text-white text-2xl ml-6 mb-4 mt-1;
    }

    .f-title-page {
        @apply pl-8 text-2xl mb-4 nunito-bold;
    }

    .f-label-name-white {
        @apply flex flex-col text-xl text-white;
    }

    .f-title-for-list {
        @apply text-2xl ml-6 mb-8;
    }

    /* ------- input components ------- */

    .f-input {
        @apply border rounded w-[15rem] py-2 px-4 text-gray-700 focus:outline-none mb-2;
    }

    .f-input-first-login {
        @apply border rounded w-[20rem] py-2 pl-10 text-gray-700 focus:outline-none mb-8;
    }

    .f-select {
        @apply text-lg py-2 px-4 border-2 rounded-xl
    }  

    /* ------- decoration components ------- */

    .f-decoration-line {
        @apply h-[2px] w-full bg-gray-300 mt-5;
    }

    .f-decoration-line-for-tab {
        @apply h-[2px] w-full bg-gray-300 mt-1;
    }

    .f-services-card-decoration {
        @apply w-1/2 mx-auto h-1 mb-2 rounded-xl;
    }

    .f-modal-background {
        @apply absolute inset-0 filter backdrop-blur-xl m-auto z-10 flex flex-col items-center justify-center;
    }

    .f-modal-window {
        @apply bg-white drop-shadow-xl rounded-3xl w-[30rem] h-[20rem] border-2 flex flex-col justify-center items-center;
    }

    /* ------- format components ------- */

    .f-modal-format {
        @apply text-gray-700 flex justify-between;
    }

    .f-client-format-logo {
        @apply flex justify-center mt-8;
    }

    .f-client-button-format {
        @apply flex flex-row justify-center mt-8 gap-10;
    }

    .f-title-format {
        @apply flex flex-col items-center mb-8
    }

    .f-page-format {
        @apply flex flex-row items-center justify-start ml-8 mb-12 mx-4
    }

    .f-choice-button-format {
        @apply flex flex-row justify-end space-x-4
    }

    .f-format-adding {
        @apply bg-gradient-to-r from-orange-500 to-red-500 rounded-3xl p-3 w-1/2;
    }

    .f-format-create-box {
        @apply flex pb-4 px-4 rounded-xl;
    }

    .f-format-creation {
        @apply flex flex-row items-center ml-8 mb-8 mt-8;
    }

    /* ------- icon components ------- */

    .f-icon {
        @apply w-6 mr-2;
    }

    .f-update-icon {
        @apply w-6 mr-2 hover:text-blue-500;
    }

    .f-delete-icon {
        @apply w-6 mr-2 hover:text-red-500;
    }

    .f-auth-icon {
        @apply absolute left-2 top-2 w-6 text-orange-500;
    }

        /* ------- errors message ------- */

    .f-error-message {
        @apply text-red-600 text-center;
    }

        /* ------- cards message ------- */

    .f-card-waitingroom {
    @apply p-4 mt-3 rounded-2xl text-center text-white nunito-bold
    }
}