@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Nunito', sans-serif; */

@layer base {
    @font-face {
        font-family: 'Nunito-bold';
        src: url('./assets/font/Nunito-Bold.ttf') format('truetype');
    }
    
    @font-face {
        font-family: 'Nunito-light';
        src: url('./assets/font/Nunito-ExtraLight.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Nunito-regular';
        src: url('./assets/font/Nunito-Regular.ttf') format('truetype');
    }

    html {
        font-family: 'Nunito-regular', sans-serif;
    }

    .nunito-bold {
        font-family: 'Nunito-bold', sans-serif;
    }

    .nunito-light {
        font-family: 'Nunito-light', sans-serif;
    }

    .nunito-regular {
        font-family: 'Nunito-regular', sans-serif;
    }

    /* buttons componenents */

    .f-button-green {
        @apply flex flex-row bg-green-600 nunito-bold text-white hover:bg-green-700 py-2 px-4 rounded-xl w-fit;
    }

    .f-button-red {
        @apply flex flex-row bg-red-600 nunito-bold text-white hover:bg-red-700 py-2 px-4 rounded-xl w-fit;
    }

}
